@use "variables" as v;

body{
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    background-color: rgb(7, 37, 7);
    margin-top: 90px;
    .header{
        .navtop{
            padding: 0;
        }
    }
}
.body{
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    background-color: rgb(7, 37, 7);
    margin-top: 90px;
    .header{
        .navtop{
            padding: 0;
        }
    }
}

.h3{
    color: v.$colortextdark;
    }

.imagecard{
    img{
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        }
} 

.videoyt{
    width: 100%;
    height: auto;
}
.contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 4vh;
    .map{
        display: block;
        place-items: center;
    }
    .form{
        display: block;
        place-items: center;
    }
}
.card:hover {
    scale: 1.1;
}
.h2{
    @extend %mover;
}