@use "variables" as v;

body{
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    background-color: rgb(7, 37, 7);
    margin-top: 18vh;
    .header{
        .navtop{
            padding: 0;
        }
    }
}
.body{
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    background-color: rgb(7, 37, 7);
    margin-top: 90px;
    .header{
        .navtop{
            padding: 0;
        }
    }
}

.h3{
    color: v.$colortextdark;
    }

.imagecard{
    img{
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        }
} 

.videoyt{
    max-width: 600px;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    padding-bottom: 5vh;
}
.contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 4vh;
    .map{
        display: block;
        place-items: center;
    }
    .form{
        display: block;
        place-items: center;
    }
}
.carousel{
    max-width: 900px;
}
.card{
    padding: 2vh;
    width: 25%;
    .card-img-top {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        }
}

@media screen and (max-width: 992px){
        .card {
        width: 50%;
        }}

@media screen and (max-width: 600px){
        .card {
            width: 100%;
        }}

.card:hover {
    scale: 1.1;
}
.h2{
    @extend %mover;
}
.formulario-contacto {
    display: flex;
    width: 100%;
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // gap: 1vh;
        // align-items: left;
        // .col-1{
        //     flex: 1;
        // }
        // .col-2{
        //     flex: 1;
        //     width: 90%;
        // }
    }
.text-area{
    display: flex;
    width: 100%;
    @media screen {
        
    }
    }