@use "variables" as v;

footer{
    overflow: hidden;
    color: aliceblue;;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(114, 114, 111);
    align-items: center;
    padding: 0.5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}