@use "variables" as v;

footer{
    overflow: hidden;
    color: aliceblue;;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(114, 114, 111, 0.418);
    align-items: center;
    padding: 0%;
    display: flex;
}
.footer{
    overflow: hidden;
    color: aliceblue;;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(114, 114, 111, 0.418);
    align-items: center;
    padding: 0%;
    display: flex;
}
.row{
    display: flex;
    justify-content: center;
    .navbarf{
        display: inline-block;
        overflow-x: hidden;
        li{
            padding: 1vh;
            margin: 1vh;
            border: 2px solid aliceblue;
            font-weight: bolder;
        }
        }
    a{
        padding: 1%;
    }
    }
