@use "variables" as v;

.header{
    padding: 0;
    .navbartop{
    overflow: hidden;
        }
}
.navbar img{
    max-width: 100%;
    height: auto;
}
.navbar{
    .container-fluid{
        overflow-x: hidden;
    }
}