@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');

$fuente1: Nata Sans;
$colortextdark: dark;
$colortextlight: rgba(255, 255, 255, 0.89);
$imagensize: 15vh;
